<footer>
  <p>Team Members: Farzaneh Akhoundsadegh
    <a href="https://github.com/FarzanehSa" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/farzaneh-sadegh-439b48ba" target="_blank"><i class="fa-brands fa-linkedin"></i></a> &
    Khaled Alkhatib <a href="https://github.com/Khaled91Alkhatib" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/khaledalkhatib/" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a></p>
</footer>
