<header>
  <nav>
    <div class = "nav-bar">
      <div>
        <span class = "restaurant-name">Restaurant name</span>
        <button>Menu</button>
        <button>Pending Orders</button>
        <button>Order History</button>
      </div>
      <div class = "right-buttons">
        <!-- <span><i class="fa-solid fa-cart-shopping"></i></span> -->
        <form  class="go-to-checkout button" action="orders" method="POST">
          <button type="submit" >
            <i class="fa-solid fa-cart-shopping"></i>
            <output id="main-cart-qty">0</output>

          </button>
        </form>
        <form  class="logout-form" action="users/logout" method="POST">
          <label style="margin: 1em">Hi <%= user.name %> ! </label>
          <button type="submit" >Logout</button>
        </form>
      </div>
    </div>
  </nav>
</header>
