<header>
  <nav>
    <div class = "nav-bar">
      <div>
        <span class = "restaurant-name">Restaurant name</span>
        <button>Menu</button>
        <button>Pending Orders</button>
        <button>Order History</button>
      </div>
      <div class = "right-buttons">
        <span><i class="fa-solid fa-cart-shopping"></i></span>

        <button>User</button>
      </div>
    </div>
  </nav>
</header>
