<header>
  <nav>
    <div class = "nav-bar">
      <div class="logo">
        <img src="/images/logo.png">
      </div>
      <div class="left-buttons">
        <button class="nav-button"><a class="nav-link" href="/menu">Menu</a></button>
<<<<<<< HEAD
        <button class="nav-button"><a class="nav-link" href="/my-orders">My Orders</a></button>
        <button id="history-tab" class="nav-button"><a class="nav-link" href="/history">Order History</a></button>
=======
        <button class="nav-button"><a class="nav-link" href="/orders">Pending Orders</a></button>
>>>>>>> master
      </div>
      <div class = "right-buttons">
        <!-- <span><i class="fa-solid fa-cart-shopping"></i></span> -->
        <form  class="goToCheckout button" action="/orders" method="GET">
          <button type="submit" class="nav-button" id="cart-button">
            <i class="fa-solid fa-cart-shopping"></i>
            <output id="main-cart-qty">0</output>
          </button>
        </form>
        <form  class="logoutForm" action="/users/logout" method="POST">
          <label style="margin: 1em">Hi <%= user.name %> ! </label>
          <button class="nav-button" type="submit" >Logout</button>
        </form>
      </div>
    </div>
  </nav>
</header>
