<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script type="text/javascript" src="/scripts/cart-counter.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="price-on-right">
    <div class="order-row">
      <div class="checkout-counter">
        <button name="plus"><i class="fa-solid fa-circle-plus"></i></button>
        <output name="counter" class="counter button">0</output>
        <button name="minus"><i class="fa-solid fa-circle-minus"></i></button>
      </div>
      <div>
        <img src="https://storage.googleapis.com/ueat-assets/d501094c-b735-49b5-ae32-ff256aad7a39.jpg"/>
      </div>
      <div>
        <span>Jr. Chicken Burrito Combo</span>
      </div>
    </div>
    <div class="price-delete">
      <span style="margin-right: 2em;">$10</span>
      <button style="color: red;"><i class="fa-solid fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="order-total">
    <span>Your order total:</span>
    <div class="checkout-button">
    <span style="margin-bottom: 0.5em;">$ 10</span>
    <button><i class="fa-solid fa-cash-register"></i>  Checkout</button>
  </div>
  </div>
  </main>
</body>

</html>
