<!DOCTYPE html>
<html lang=""en>

<head>
  <title>My Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/my-orders.css" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="/scripts/utilities.js"></script> -->
  <script type="text/javascript" src="/scripts/my-orders.js"></script>

  <!-- <script type="text/javascript" src="/scripts/utilities.js"></script>
  <script type="text/javascript" src="/scripts/cart-counter.js"></script> -->

</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="title-row">
      <div class="test">
        <span>Date</span>
        <span style="padding-left: 80px;">Order Number</span>
        <span style="padding-left: 60px;">Details</span>
      </div>
      <span style="padding-left: 136px;">Qty</span>
      <span style="padding-left: 25px;">Total</span>
      <span style="padding-right: 34px;">Status</span>
    </div>
    <hr style="width: 1000px;">
    <div class="details-row">
      <div class="test">
        <span>30/4/2022</span>
        <span style="padding-left: 55px;">Order Number</span>
        <span style="padding-left: 98px;">Classic Refrito Bean Burrito</span>
      </div>
      <span style="padding-left: 65px;">Qty</span>
      <span style="padding-left: 105px;">Total</span>
      <span style="padding-left: 85px;">Processing</span>
    </div>
    <hr style="width: 1000px;">
  </main>
</body>
</html>
