// font-size
$primery-font-siza          : 24px;

// font-color
$primery-font-color         : #545149;
$button-font-color          : Teal;
$warning-font-color         : Crimson;



// backround
$main-background-color          : #f9f9f9;
$item-box-background-color      : mintcream;
$button-hover-background-color  : khaki;
$nav-background-color           : #f9f9f9bb;
$menu-background-color          : gainsboro;
$shadow-color                   : silver;


// border
$test        : 2px solid black;
