@import '_variables';

main {
  font-size: 17px;
  height: 100vh;
  background-image: $primery-background-image;

  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: $primery-background-image;

    .main-address {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      .phone-email {
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        position: absolute;
        right: 100%;
        width: 320px;
        border-radius: 20px 20px 0 20px;
        padding: 5px 8px 5px 14px;
        background-image: $secondary-background-image;
        color: brown;
      }
    }

    .contact, .location {
      border-radius: 12px;
      background: hsl(40deg, 100%, 57%);
      font-weight: 600;
      color: brown;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;

      &:hover {
        color: rgb(61, 61, 226);
        cursor: pointer;
      }
    }

    .logo {
      width: 180px;
    }
  }

  img {
    width: 150px;
  }

  .login-form {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .left-images {
      display: flex;
      flex-direction: column;
    }

    .login-data {
      display: flex;
      flex-direction: column;
      background-color: rgb(76, 51, 51);
      background-image: $secondary-background-image;
      padding: 26px;
      border-radius: 15px;

      .login-cancel-buttons {
        display: flex;
        justify-content: center;
        margin-top: 3px;

        .login, .cancel {
          font-weight: 600;
          border: none;
          color: brown;
          padding: 6px 22px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 12px;
          background: hsl(40deg, 100%, 57%);          }
          .cancel:hover {
            color: red;
          }

          .login:hover {
            color: blue;
          }
      }
    }

    .right-images {
      display: flex;
      flex-direction: column;
    }
  }
}
