@import '_variables';

html {
  box-sizing        : border-box;
}
*, *:before, *:after {
  box-sizing        : inherit;
}

body {
  // 👀 test
  background: $primery-background-image;
  // background-size: cover;
  background-size: center;


  //
  font-family       : 'Source Sans Pro', sans-serif;
  display           : flex;
  flex-direction    : column;
  width             : 100%;
  min-width         : 500px;
  padding           : 1em;
  margin            : 0.5em;
  padding-top       : 0em;
  margin-top        : 0em;

  font-size         : $primery-font-siza;
  color             : $primery-font-color;
  background-color  : $main-background-color;

  main {
    // border: $test;
    padding: 1em;
  }

  // all links
  a {
    @include hover-focus;
  }
}




// body {
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   min-height: 100vh;
//   margin: 1em;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
// }
