@import '_variables';

main {

  .category-row {
    height          : 60px;
    margin          : 0.1em;
    margin-top      : 0.5em;
    padding-left    : 1em;
    color           : $secondary-font-color;
    background      : $primery-background-image;
    display         : flex;
    align-items     : center;

    &:hover {
      cursor    : pointer;
      filter    : brightness(150%);
    }

    .cat-arrow-up {
      display   : none;
    }
  }

  .dropdown {
    display     : inline-block;
  }

 // -------------------------------------------------

  .menu-items {
    font-size         : 20px;
    background        : transparent;
    display           : flex;
    flex-wrap         : wrap;
    justify-content   : start;
  }

  // -------------------------------------------------

  .food-item {
    height              : 220px;
    width               : 400px;
    min-width           : 32%;
    margin-top          : 2em;
    margin-right        : 2em;
    border-radius       : 10%;

    background          : $primery-background-image;
    display             : flex;
    align-items         : center;
    flex-wrap           : nowrap;

    &:hover {
      filter            : brightness(110%);
    }
  }

  // -------------------------------------------------

  .item-img {
    margin-right        : 1em;
    border              : none;
    background          : none;

    img {
      width             : 200px;
      margin-right      : 0.5em;
      border-radius     : 50%;
    }
    &:hover, &:focus {
      border-radius   : 50%;
      // box-shadow: 0 1em 0.5em -0.3em;
      cursor: pointer;
      animation       : Rotate 2s infinite;
    }
    @include hover-focus;
  }

  // -------------------------------------------------

  .item-info {
    height            : 200px;
    width             : 65%;
    margin-right      : 0.5em;
    margin-bottom     : 0.3em;
    font-weight       : 600;
    display           : flex;
    flex-direction    : column;
    justify-content   : center;
    align-items       : center;

    .item-name {
      margin-top    : 0.2em;
      margin-bottom : 0.4em;
      text-align    : center;
    }

    .item-price {
      color              : $secondary-font-color;
    }

    .cart-addition {
      margin              : 1em 0em 0.5em 0em;

      .minus-plus {
        border            :none;
        color             : goldenrod;
        background-color  : transparent;

        &:hover, &:focus {
          color           : red;
          cursor          : pointer;
        }
        @include hover-focus;
      }
    }

  // -------------------------------------------------

    .add-to-cart {
      @include button-back(25deg);
      @include hover-focus;

      &:hover .front-add-to-cart {
        transform: $transform;
      }

      &:focus .front-add-to-cart {
        transform: $transform;
      }

      .front-add-to-cart {
        @include button-front(30deg, whitesmoke);
        color: $third-font-color;
        padding      : 8px 16px;
      }
    }
  }

  // -------------------------------------------------

  // categories dropdown hidden at first
  .dropdown-content0 {
    display: none;
  }
  .dropdown-content1 {
    display: none;
  }
  .dropdown-content2 {
    display: none;
  }
  .dropdown-content3 {
    display: none;
  }
  .dropdown-content4 {
    display: none;
  }

}

// for item image
@keyframes Rotate {
  0%   { transform: rotate(0deg) }
  30%  { transform: rotate(-3deg)}
  72%  { transform: rotate(0deg) }
  100% { transform: rotate(3deg) }
}
