.item-desc {
  display: flex;
  flex-direction: column;
}

.img-cart {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.whole-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border: 3px solid;
  margin: 3em auto 0 auto;
  width: 800px;
}

.single-item-cart {
  text-align: center;
  margin-bottom: 1em;
}

.name-price-desc {
  margin-right: 2em;
}

.name-price {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em
}

img {
  width: 350px;
}

.price {
  font-weight: bold;
}

@media (max-width:830px) {
  .whole-item {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
