@import '_variables';

#item-container {

  background: $primery-background-image ;

  .whole-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 20px;
    border: 3px solid;
    margin: 0.5em;
    padding: 0.5em;
    width: 400px;

    .item-name {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0.5em;
      color: $secondary-font-color;
    }

    .item-img {
      border              : none;
      background          : none;
      margin-bottom: 0.5em;

      img {
        width             : 300px;
        border-radius     : 50%;
      }
    }

    .item-price {
      font-weight: 600;
      color: $secondary-font-color;
      margin-bottom: 0.5em;
      font-size: 24px;
    }

    .single-cart-addition {
      margin-bottom: 0.5em;

      .minus-plus {
        border            : none;
        color             : goldenrod;
        background-color  : transparent;

        &:hover, &:focus {
          color           : red;
          cursor          : pointer;
        }
        @include hover-focus;
      }
    }

    .add-to-cart {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      @include button-back(25deg);
      @include hover-focus;
      font-weight: 600;

      &:hover .front-add-to-cart {
        transform: $transform;
      }

      &:focus .front-add-to-cart {
        transform: $transform;
      }

      .front-add-to-cart {
        @include button-front(30deg, whitesmoke);
        color: $third-font-color;
        padding      : 8px 16px;
      }
    }

    .item-desc {
      text-align: left;

      .desc-title {
        font-weight: 600;
        align-self: center;
      }
    }

    .desc-text {
      align-self: center;
      text-align: justify;
      text-align: center;
    }
  }
}
