@import '_variables';

body {
  font-family: $primery-font-family;
  font-size: 20px;

  .all-table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  text-align: left;

  th, td {
    padding: 10px 0px;
  }

  .main-row, .customer-row {
    border-bottom: 2px solid #ddd;
  }
  }

}
