main {
  display: flex;
  flex-direction: column;

  .title-row {
    // position: fixed;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;

  }

  .details-row {
    font-size: 18px;
    display: flex;
    width: 1000px;
    margin: auto;
  }
}
