@import '_variables';

#pending-orders-page {

  display           : flex;
  flex-direction    : column;
  font-size         : 20px;

  .manage-part {
    position        : sticky;
    top             : 120px;
    z-index         : 100;
    width           : 100%;
    height          : 150px;
    background      : $primery-background-image ;
    display         : flex;
    justify-content : space-between;
    align-items     : center;

    .m-title {
      height        : 100%;
      display       : flex;
      align-items   : flex-start;
    }

    .mid-m-tab {
      height          : 100%;
      display         : flex;
      flex-direction  : column;
      align-items     : center;
      justify-content : space-evenly;
      text-align      : center;

      .output-order-number {
        height                : 40%;
        width                 : 40%;
        font-size             : 28px;
        font-weight           : 600;
        color                 : $third-font-color;
        border-radius         : 50%;
        background            : $primery-background-image;
        background-position   : center;
        display               : flex;
        align-items           : center;
        justify-content       : center;
      }
    }

    .right-m-tab {
      height                  : 100%;
      width                   : 50%;
      display                 : flex;
      justify-content         : space-around;
      align-items             : center;

      .reply-t {
        height                : 110px;
        margin                : 0.5em;
        font-size             : 16px;
        display               : flex;
        align-items           :center ;
        justify-content       : center;
        flex-direction        : column;

        textarea {
          width               : 100%;
          height              : 4em;
          padding             : 0em 0.7em;
          background          : $main-background-color;
          resize              : none;
          outline             : none;
        }
      }

      .decision-part {
        height                : 110px;
        width                 : 50%;
        display               : flex;
        flex-direction        : column;

      .decision-buttons {
        padding-top           : 1em;
        display               : flex;
        justify-content       : space-evenly;
      }
        output {
          display             : none;
          font-style          : italic;
          align-self          : center;
        }

        #accept {
          @include button-back(115deg);
          @include hover-focus;

          &:hover .front-accept {
            transform         : $transform;
          }

          &:focus .front-accept {
            transform         : $transform;
          }

          .front-accept {
            @include button-front(120deg, whitesmoke);
            padding           : 12px 23px;
          }

        }
        #reject {
          @include button-back(340deg);
          @include hover-focus;

          &:hover .front-reject {
            transform         : $transform;
          }

          &:focus .front-accept {
            transform         : $transform;
          }

          .front-reject {
            @include button-front(345deg, whitesmoke);
            padding           : 12px 25px;
          }
        }
      }
    }
  }
  // ----------------

  .data-table {
    border                  : 1px solid whitesmoke;
    width                   : 100%;
    display                 : flex;
    text-align              : center;
  }

  .group-table {
    width                   : 70%;
    margin-top              : 0.5em;
    margin-left             : 0.25em;
    margin-right            : 0.25em;
    font-weight             : 600;
    color                   : black;
    display                 : flex;
  }

  .detail-table {
    width                   : 30%;
    margin-left             : 0.25em;
    margin-right            : 0.25em;
  }

  .title {
    height                  : 100%;
    display                 : flex;
    justify-content         : center;
    align-items             : center;
  }

  .row-detail-data {
    color                   : black;
    font-weight             : 600;
    display                 : flex;
    justify-content         : space-between;
    align-items             : center;
  }

  .title-table-order-number{
    width                   : 12%;
    border-right            : 0.5px solid whitesmoke;
  }

  .table-order-number{
    width                   : 7%;
    border-right            : 0.5px solid whitesmoke;
  }

  .select-row {
    width                   : 5%;
  }

  input[type=checkbox] {
    transform               : scale(1.3);
    cursor                  : pointer;
  }

  .table-date{
    width                   : 15%;
    border-right            : 0.5px solid whitesmoke;
  }

  .table-user-name{
    width                   : 20%;
    border-right            : 0.5px solid whitesmoke;

  }

  .table-comment{
    width                   : 30%;
    border-right            : 0.5px solid whitesmoke;
  }

  .table-pickup-time{
    width                   : 12%;
    border-right            : 0.5px solid whitesmoke;
  }

  .table-total{
    width                   : 12%;
    border-right            : 0.5px solid whitesmoke;
  }
}
