@import '_variables';

main {
  font-size             : 23px;

  #checkout-page {
    display             : flex;
    justify-content     : space-between;
    flex-wrap           : wrap;
  }

  #checkout-left-side {
    width               : 50%;

    .item-info {
      margin-right      : 0.5em;
      margin-left       : 1em;
      display           : flex;
      justify-content   : space-between;
      align-items       : center;
      flex-wrap         : nowrap;
    }

    .order-row {
      display           : flex;
      align-items       : center;
      column-gap        : 20px;

      .item-name {
        width           : 55%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        flex-wrap       : wrap;
      }

      img {
        width           : 80px;
        margin-right    : 0.5em;
        border-radius   : 50%;
      }

    }

    .checkout-counter{
      display           : flex;
      align-items       : center;

      .minus-plus {
        border            :none;
        font-size         : 15px;
        color             : whitesmoke;
        background-color  : transparent;
        display           : flex;

        &:hover, &:focus {
          color           : red;
          cursor          : pointer;
        }
        @include hover-focus;
      }

      .single-item-qty {
        font-size         : 24px;
        font-weight       : 600;
        color             : red;
      }
    }

    .price-delete {
      display             : flex;
      justify-content     : end;
    }

    .delete-button {
      font-size           : 22px;
      border              : none;
      outline             : none;
      background-color    : transparent;


      &:hover, &:focus {
        cursor            : pointer;
        border            : none;
        outline           : none;
        color             : red;
        background-color  : transparent;
        animation         : Rotate 1s infinite;
      }
    }
  }

  #checkout-right-side {
    width                 : 30%;
    margin-right          : 5em;
    padding               : 1em;
    border-radius         : 10%;
    background            : $primery-background-image;
    white-space           : nowrap;

    .order-total {
      height              : 150px;
      margin-bottom       : 0.5em ;
      border              : 0.5px solid black;
      border-radius       : 55%;
      font-size           : 24px;
      font-weight         : 700;
      color               : brown;
      background          : $main-background-color;
      display             : flex;
      flex-direction      : column;
      justify-content     : center;
      align-items         : center;
    }

    .time-pickup {
      height              : 150px;
      display             : flex;
      flex-direction      : column;
      justify-content     : flex-start;
      align-items         : center;

      .time-p {
        display           : none;
      }

      .label-time-p {
        font-size         : 14px;
      }
    }

    .comment {
      margin              : 0.5em;
      font-size           : 16px;
      display             : flex;
      align-items         : center ;
      justify-content     : center;

      textarea {
        height            : 5em;
        width             : 70%;
        padding           : 0em 0.7em;
        background        : $main-background-color;
        resize            : none;
        outline           : none;
      }
    }

    .checkout-button {
      height              : 150px;
      display             : flex;
      align-items         : center;
      justify-content     : center;

      #cash-register {
        @include button-back(340deg);
        @include hover-focus;

        &:hover .front-cash-register {
          transform       : $transform;
        }

        &:focus .front-cash-register {
          transform       : $transform;
        }

        .front-cash-register {
          @include button-front(345deg, whitesmoke);
        }
      }
    }
  }
}

@keyframes Rotate {
  from {
    transform   : rotate(-45deg);
  }
  to {
    transform   : rotate(45deg);
  }
}
