@import '_variables';

main {
  font-size: 19px;

  .price-on-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 3em auto 0 auto;
    flex-wrap: wrap;
    padding: 1em;
    border: solid;

    .order-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 20px;

      .checkout-counter {
        display: flex;
        flex-direction: column;
        width: auto;

        .minus-plus {
          border:none;
          background-color: transparent;
          color: black;

          &:hover {
            color: red;
            cursor: pointer;
          }
        }

        .counter-text {
          display: flex;
          justify-content: center;
        }
      }
      img {
        width: 140px;
      }
    }
  }

  .price-delete {
    display: flex;
    flex-direction: row;
    align-items: center;

    .delete-button {
      color: red;
      border: none;
      background-color: $menu-background-color;
      border-radius: 16px;
      padding: 8px 14px;

      &:hover {
        cursor: pointer;
        background-color: $button-hover-background-color;
      }
    }
  }

  .order-total {
    display: flex;
    justify-content: space-between;
    width:800px;
    margin: 0 auto 0 auto;
    padding: 0.5em;
    font-size: 21px;
    font-weight: bold;

    .checkout-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cash-register {
        border: none;
        background-color: $menu-background-color;
        border-radius: 16px;
        padding: 8px 14px;

        &:hover {
          cursor: pointer;
          background-color: $button-hover-background-color;
        }
      }
    }
  }
}

// @media (max-width:830px) {
//   .price-on-right {
//     width: 100%;
//   }
//   .order-total {
//     width: 100%;
//   }
// }
